body, html {
  width: 100%;
  font-family: 'Lato', sans-serif;
}
.header {
  text-align: center;
}

.textarea{
  width: 95vw;
  min-height: 100%;
  background: #f6f6f6;
  display: block;
  margin: auto ;
  padding: 7px;
  border-radius: 6px;
}

button{
  display: block;
  text-align: left;
  padding: 10px;
  margin: 10px auto;
  font-size: 1.1rem;
  color: #fff;
  background: #3385ff;
  border-bottom: 2px, solid #1a75ff;
  border-radius: 7px;
}

button:focus{
  outline: none;
}

.content{
  width: 95vw;
  background: #f6f6f6;
  display: block;
  margin: auto ;
  padding: 7px;
  border-radius: 6px;
}